doctype html
html(lang='en', ng-app='jscalcApp', ng-controller='JscalcCtrl')
  head
    <!--[if lte IE 9]>
    script.
      alert('Sorry, Internet explorer 9 and earlier is not supported.');
    <![endif]-->
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='fragment', content='!')
    meta(name='Description', content='{{view.description}}')
    title(ng-bind="view.title ? view.title + ' - JSCalc' : 'JSCalc'")
    link(rel='stylesheet', href='/bower_components/angular-material/angular-material.css')
    link(rel='stylesheet', href='/bower_components/angular-material/themes/cyan-theme.css')
    // See https://github.com/ajaxorg/ace-builds/issues/45.
    script(src='/bower_components/ace-builds/src-min-noconflict/ace.js')
    != js('index')
    != css('index')
    script.
      angular.module('preloadedData', [])
      .constant('PRELOADED_DATA', !{JSON.stringify(preloaded)});
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56071268-1', 'auto');
      ga('send', 'pageview');
    style.
      .input-icon[input-type=binary] {
        background-image: url('!{getImage("icons/ic_check_box_24px.svg")}')
      }
      .input-icon[input-type=number] {
        background-image: url('!{getImage("icons/number_input_24.svg")}')
      }
      .input-icon[input-type=date] {
        background-image: url('!{getImage("icons/ic_insert_invitation_24px.svg")}')
      }
      .input-icon[input-type=choice] {
        background-image: url('!{getImage("icons/ic_radio_button_on_24px.svg")}')
      }
      .input-icon[input-type=list] {
        background-image: url('!{getImage("icons/ic_playlist_add_24px.svg")}')
      }
      .output-icon[input-type=value] {
        background-image: url('!{getImage("icons/number_output_24.svg")}')
      }
      .output-icon[input-type=table] {
        background-image: url('!{getImage("icons/ic_border_all_24px.svg")}')
      }
      .output-icon[input-type=chart] {
        background-image: url('!{getImage("icons/ic_insert_chart_24px.svg")}')
      }
      .settings-icon {
        background-image: url('!{getImage("icons/ic_settings_24px.svg")}')
      }
      .delete-icon {
        background-image: url('!{getImage("icons/ic_delete_24px.svg")}')
      }
      .forward-icon {
        background-image: url('!{getImage("icons/ic_arrow_forward_24px.svg")}')
      }
  body(layout='horizontal', md-theme="cyan")
    md-sidenav.md-sidenav-left.md-whiteframe-z3(component-id='left',  is-locked-open="sidenavsLockedOpen", layout='vertical', ng-click="closeNav()")
      md-content#side-nav(flex)
        a#logo(href='/', ng-class="{active: isCurrentLocation('/')}")
          img.logo-icon(src!=getImage('icons/jscalc_full_bleed_24.svg'))
          | JSCalc
        button(ng-click='new()')
          img.new-calculator-icon.black-icon(src!=getImage('icons/ic_add_24px.svg'))
          div.new-calculator-label New Calculator
        .section(ng-show="calcList.length") Your Calculators
        a.indent(ng-repeat="calc in calcList | orderBy:['caption', 'url']", href="{{calc.url}}", ng-class="{active: isCurrentLocation(calc.url)}") {{calc.caption}}
        a(href='/account', ng-show='user.$resolved', ng-class="{active: isCurrentLocation('/account')}") Account Settings
    md-content(role='main', layout='vertical', layout-fill='layout-fill', scroll-y='scroll-y', ng-view='ng-view')
    // Stop-gap menu until it's added to Angular Material.
    .menu.md-whiteframe-z1(ng-if="menuShown")
      .menuitem(ng-show="view.isCalcMode" ng-click="broadcast('jscalc-copy')") Make a copy
      .menuitem(ng-show="view.isEditMode" ng-click="broadcast('jscalc-delete')") Delete
      .menuitem(ng-show="user === null" ng-click="login()") Sign up/sign in
      .menuitem(ng-show="user.$resolved" ng-click="logout()") Sign out
